<h1>Bulk Discounts Index</h1>

<section id="currentDiscounts">
<h3>Current discounts offered by <%= @merchant.name %></h3>
<% @merchant.bulk_discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">
  <p><h4>Discount code: <%= discount.name %></h4>
  <p>Percent: <%= discount.percentage %>%</p>
  <p>Quantity Limit: <%= discount.quantity_threshold %></p>
<% end %>
</div>
</section>
