<h1>Bulk Discounts Index</h1>

<section id="currentDiscounts">
<h3>Current discounts offered by <%= @merchant.name %></h3>
<% @merchant.bulk_discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">
  <p><h4>Discount code: <%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %></h4>
  <p>Percent: <%= discount.percentage %>%</p>
  <p>Quantity Limit: <%= discount.quantity_threshold %></p>
  <p> <%= link_to "Delete #{discount.name}", merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
</div>
<% end %>
</section>
<h3><%= link_to "Create New Discount", new_merchant_bulk_discount_path %></h3>

<h4>Upcoming Holidays</h4>

<% @holidays.each do |holiday| %>
<p><%= holiday.name  %>,
  <%= holiday.date  %></p>
<% end %>
